body {
    background-color: #7936FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    color: #E8E00E;
    
}
.calcBody {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 580px;
    border: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 6px;
    align-self: center;
    margin-bottom: 10px;
    background-color: #E8E00E;
}

.screenContainer{
    margin: 25px;
    border: black;
    border-style: solid;
    border-radius: 4px;
    height: 100px;
    background-color: #FCFCFC;
    font-size: 30px;
    text-align: right;
    vertical-align: text-bottom;
}
.screen{
    font-size: 30px;
    text-align: right;
    margin-right: 10px;
    color: black;
}
.clearDeleteContainer{
    display: flex;
    justify-content: space-evenly;
}
.clear{
    width: 165px;
    border: black;
    border-style: solid;
    border-radius: 4px;
    height: 60px;
    margin-left: 10px;
    background-color: #DB4C18;
    font-weight: 500px;
    font-size: 20px;
}
.delete{
    width: 165px;
    border: black;
    border-style: solid;
    border-radius: 4px;
    height: 60px;
    margin-right: 10px;
    background-color: #18DBB4;
    font-weight: 500px;
    font-size: 20px;
}
.keysContainer{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(4, auto);
    column-gap: 6px;
    margin-top: 15px;
    margin-right: 27px;
    margin-left: 27px;
    margin-bottom: 10px;
    row-gap: 6px;
}

.key{
border: black;
border-style: solid;
border-radius: 4px;
height: 78px;
background-color: #8636FF;
color: #E8E00E;
font-weight: 500px;
font-size: 20px;
}

.footerContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
}


.footer{
    align-self: center;
    font-size: 20px;
}